<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>register here only for student</h1>
    <form  action={% url 'student' %}  method="POST">
        {% csrf_token %}
        <label for="fname">Name:</label><br>
        {{form.name}}<br>
        <label for="fname">Email:</label><br>
        {{form.email}}<br>
        <label for="fname">Password:</label><br>
        {{form.password}}
             <br><br>
            <button type="submit" value="Submit"> Submit </button>
      </form> 
    


</body>
</html>